*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-style: normal;
    background-color: #ffffff;
    color: #000
}
header,
header .container,
section .imagem-secador{
    display: flex;
}
header{
    padding: 1rem;
    box-shadow: 0 .1rem #e4e4e4;
}
header .container a h2,
section .apresentacao h1,
section .nos h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
section .apresentacao p,
section .nos p{
    font-family: "DM+Sans", sans-serif;
    color: #767676;
    margin-bottom: 2rem;
}
header .container a{
    text-decoration: none;
}
header .container a h2{
    color: #000;
}
header .container a h2 span{
    color: #69b99d;
}
header .container{
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
}
header .container .toggle{
    height: 100%;
    width: auto;
    font-size: 2.3rem;
}
header .container .icon-close{
    display: none;
}
section{
    position: relative;
    padding-bottom: 2rem;
}
section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: .05rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(204, 244, 230, 0.34) 0%, rgba(105, 185, 157, 1) 100%);
}
section .imagem-secador{
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
}
section .imagem-secador img{
    height: auto;
    width: 21rem;
    position: absolute;
    margin-top: 4rem;
}
section .imagem-secador .quadrado{
    background-color: #ccf4e6;
    height: 15rem;
    width: 25rem;
    margin-top: 2rem;
    margin-left: 3rem;
    position: relative;
    border-radius: .3rem;
}
section .apresentacao{
    text-align: center;
}
section .apresentacao h1{
    margin-bottom: 1rem;
}
section .apresentacao button{
    width: 12rem;
    height: 3rem;
    color: #fff;
    background-color: #69b99d;
    border-radius: .3rem;
    border: none;
    margin-bottom: 2rem;
}
section .imagem-equipe {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 5rem;
}
section .imagem-equipe .quadrado {
    background-color: #ccf4e6;
    height: 15rem;
    width: 18rem;
    border-radius: .3rem;
    position: absolute;
    z-index: 0;
}
section .imagem-equipe img {
    margin-top: 2rem;
    width: 100%;
    z-index: 1;
}
section .nos h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
section .nos{
    text-align: center;
}