*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-style: normal;
    background-color: #ffffff;
    color: #000
}
header,
header .container,
section .imagem-secador{
    display: flex;
}
header{
    padding: 1rem;
    border-bottom: solid .1rem #e4e4e4;
    padding-bottom: 0;
}
h1, h2{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: calc(1rem + 3.5vw);
    padding-bottom: 1rem;
}
p{
    font-size: calc(.9rem + .5vw);
    font-family: "DM Sans", sans-serif;
}
.direita{
    height: .1rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(204, 244, 230, 0.34) 0%, rgba(105, 185, 157, 1) 100%);
}
.esquerda{
    height: .1rem;
    width: 100%;
    background: linear-gradient(90deg, rgba(105, 185, 157, 1) 0%,  rgba(204, 244, 230, 0.34) 100%);
}
section .apresentacao p,
section .nos p{
    color: #767676;
    margin-bottom: 2rem;
}
header .container a{
    text-decoration: none;
}
header .container a h2{
    color: #000;
}
header .container a h2 span{
    color: #69b99d;
}
header .container{
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
}
header .container .toggle{
    height: 100%;
    width: auto;
    font-size: 2.3rem;
}
header .container .icon-close{
    display: none;
}
section{
    position: relative;
    padding-bottom: 2rem;
}
section .imagem-secador{
    height: auto;
    width: 100%;
    margin-bottom: 3rem;
}
section .imagem-secador img{
    height: auto;
    width: 21rem;
    position: absolute;
    margin-top: 4rem;
}
section .imagem-secador .quadrado{
    background-color: #ccf4e6;
    height: 15rem;
    width: 25rem;
    margin-top: 2rem;
    margin-left: 3rem;
    position: relative;
    border-radius: .3rem;
}
section .apresentacao{
    text-align: center;
}
section .apresentacao button{
    width: 12rem;
    height: 3rem;
    color: #fff;
    background-color: #69b99d;
    border-radius: .3rem;
    border: none;
    margin-bottom: 2rem;
}
section .imagem-equipe {
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 5rem;
}
section .imagem-equipe .quadrado {
    background-color: #ccf4e6;
    height: 15rem;
    width: 18rem;
    border-radius: .3rem;
    position: absolute;
    z-index: 0;
}
section .imagem-equipe img {
    margin-top: 2rem;
    width: 100%;
    z-index: 1;
}
section .nos h1{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: left;
}
section .nos{
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    width: 20rem;
    height: auto;
}
section .nos p{
    flex-wrap: wrap;
    text-align: left;
}
section .trabalhos{
    padding: 5rem 2rem 2rem 2rem;
    text-align: left;
}
section .trabalhos span{
    color: #69b99d;
    font-weight: bold;
}
section .quadrados .quadrado{
    width: 21rem;
    height: 22rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: 4rem;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.15);
    border-radius: .3rem .3rem 0 0;
    border-bottom: #69b99d solid .3rem;
}
section .quadrados{
    justify-items: center;
}
section .quadrados .quadrado .icon{
    font-size: 5rem;
    color: #69b99d;
    margin-bottom: 1rem;
}
section .quadrados .quadrado p{
    color: #767676;
    margin: 0 2rem 0 2rem;
}
section .feedback{
    margin-top: 4rem;
    width: 20rem;
    height: auto;
}

